 .header{
    display: flex;
    align-items: center;
    flex-direction: column;
   
 }
  &__escudo{
    max-width: 150px;
 }

 



  &__list{
    display: flex;
   flex-direction: column;
 }
 &__item{
    display:inline-block;
    padding: 0.5rem 0.5rem ;
    background-color: yellow;
    margin: 0.5rem;
    border-radius: 10%;
 }
 &__anchor{
    text-decoration: none;
    text-align: center;
 }
 &__ifram__img{
  
    display: grid;
    grid-template-columns: repeat( 4, 1rf);
    padding: 2 rem;
}




  
 